@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600&family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@100;300;400;600&display=swap');

h1{
    font-family: Big Shoulders Display;
    font-size: 40px;
    font-weight: 700;
}
p{
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 400;
}
*{
    text-decoration-color: white;
}
h1, p{
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}
img{
  margin-top: 40px;
  margin-left: 40px;
}
button{
    margin-left: 40px;
    margin-top: 50px;
    height: 40px;
    width: 120px;
    border-radius: 50px;
    border: none;
    font-family: Lexend Deca;
    font-weight: 400;
    transition: 0.2s;
}
#container, div{
    margin: 0px;
}
#but1{

   color: hsl(31, 77%, 52%);
   border: 2px solid transparent;
  
}
#but2{
    color: hsl(184, 100%, 22%);
    border: 2px solid transparent

}
#but3{
    color: hsl(179, 100%, 13%);
    border: 2px solid transparent
}
#but1:hover{
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
#but2:hover{
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
#but3:hover{
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
#container{
    width: 920px;
    transform: translate(35%, 25%)
}